@use 'sass:math';

$char-width-height-ratio: math.div(143px, 205px);
$char-ht: 205px;
$char-w: $char-ht * $char-width-height-ratio;

$led-lit-color: red;
$led-unlit-color: rgb(71, 10, 10); // utilize this variable // was transparent before

.container{
    position: absolute;
    width: 100%;
    background-color: black; // change back to black when testing completed
  }
.char {
    position: relative;
    display: inline-block;
    background-color: black;
    height: $char-ht;
    width: $char-w;
}

svg {
    position: relative;
    display: inline-block;
    height: $char-ht;
    width: $char-w;
}

path {
    &.lit {
        fill: $led-lit-color;
    }
    &.unlit {
        fill: $led-unlit-color;
    }
}