$diag-margin: 15px;
$led-lit-color: red;
$led-unlit-color: rgb(71, 10, 10); // utilize this variable // was transparent before

.container{
    position: absolute;
    height: 200px;
    width: 100%;
    background-color: black; // change back to black when testing completed
  }
.char {
    position: relative;
    display: inline-block;
    background-color: black;
    height: 204px;
    width: 143px;
}

svg {
    position: relative;
    display: inline-block;
}

path {
    &.lit {
        fill: $led-lit-color;
    }
    &.unlit {
        fill: $led-unlit-color;
    }
}